/* || General */
/* css rules applied to multiple sections */
.responsive{
    display: none;
}

body{
    margin: 0;
    background-color: #2EC4B6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    margin-right: 1em;
    margin-left: 1em;
}

form{
    padding-bottom: 3em;
	padding-left: 3em;
    color: white;
    background-color: #FF9F1C;
}

h2{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    color:#242331;
    background-color: powderblue;
    font-size: 1.4em;
    font-family: 'Encode Sans', sans-serif;
    border-radius: 0.5em;
    overflow: hidden;
}

h3{
	font-size: 1.3em;
}

table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5em;
}

th{
    padding: 0.8em;
    color: #242331;
    background-color: #FF9F1C;
    border-radius: 0.6em;
}

td{
    color: #242331;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 0.4em;
}

a{
    color: #242331;
    text-decoration: none;
}

/* || Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 4em;
    padding-left: 4em;
    background-color: #242331;
}

/* || Logo */
#d-header-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#img-header-banner-logo{
    display: inline-block;
    vertical-align: middle;
    width: 3.8em;
    height: 3.8em;
}

#img-header-banner-name{
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: left;
    font-size: 3em;
    font-family: 'Encode Sans', sans-serif;
}

/* || Navigation Bar */
#s-header-navbar{
    display: inline-flex;
    justify-content: space-around;
    gap: 4.5em;
}

.img-header-navbar-icon{
    width: 2.5em;
    height: 2.5em;
	margin: 0;
    cursor: pointer;
}

.img-header-navbar-icon:hover{
    filter: invert(45%) sepia(85%) saturate(700%) hue-rotate(345deg) brightness(107%) contrast(101%) drop-shadow(2px 2px 20px white);
}

/* || Main */
#d-main{
	display: grid;
	grid-template-areas:
    'auth game game configs'
    'commands game game configs'
    'system_messages game game configs'
	'footer footer footer footer';
    /* grid-template-rows: 66% 9% 9% 16%;*/
    grid-template-rows:  25.5em 3.5em 3.5em 6.5em;
	grid-template-columns: 25% 25% 25% 25%;
    min-height: 82.3vh;
}

/* || Authentication */
#section-main-authentication{
	grid-area: auth;
}

#form-authentication-login{
    border:solid;
    border-color: white;
    border-radius: 1em;
}

.d-login-titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4em;
    color: #242331;
    cursor: pointer;
}

#h3-login-titles-signin--in{
    border-bottom: solid #242331;
}

#h3-login-titles-signup--in:hover{
    filter: invert(99%) sepia(0%) saturate(4997%) hue-rotate(153deg) brightness(117%) contrast(100%);
}

#h3-login-titles-signup--up{
    border-bottom: solid #242331;
}

#h3-login-titles-signin--up:hover{
    filter: invert(99%) sepia(0%) saturate(4997%) hue-rotate(153deg) brightness(117%) contrast(100%);
}

.label-login-info{
	display: block;
    padding-top: 0.3em;
	color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.input-login-info{
    max-width: 80%;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
}

#button-login-signin{
	margin-top: 1em;
	margin-bottom: 0.5em;
    padding-top: 0.5em;
	padding-bottom: 0.5em;
    padding-right: 5em;
	padding-left: 4.5em;
    color: white;
    background-color: #2EC4B6;
    border: none;
    border-radius: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

#button-login-signin:hover{
    background-color: #242331;
}

#button-signup-register:hover{
    background-color: #242331;
}

#a-login-forgotpass{
	float: right;
	padding-top: 1em;
	padding-right: 2em;
    color: white;
	font-size: 0.8em;
    cursor: pointer;
}

#a-login-forgotpass:hover{
    color: #242331;
}

#form-authentication-signup{
    display: none;
    padding-bottom: 1em;
    padding-right: 4em;
    border: solid;
    border-radius: 1em;
    border-color: white;
}

.d-signup-info{
    display: grid;
    grid-template-areas: 'label' 'input';
    margin-bottom: 0.4em;
    font-weight: 300;
}

.input-signup-info{
	border: none;
    width: 14em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0em;
    padding-left: 0.7em;
    border-radius: 0.4em;
}

#d-signup-info-additional{
    display: grid;
    grid-template-columns: 50% 50%;
}

.signup-additional{
    padding-left: 1em;
    padding-right: 1em;
    width: 6em;
}

#button-signup-register{
	margin-top: 1em;
	margin-bottom: 0.5em;
    padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 4.5em;
	padding-right: 5.1em;
    color: white;
    background-color: #2EC4B6;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
}

#form-authentication-forgot{
    display: none;
    padding-bottom: 1.5em;
    padding-right: 4em;
    border-radius: 1em;
    border:solid;
    border-color: white;
}

#p-forgot-info-description{
    margin-bottom: 0.5em;
}

#button-forgot-recover{
	margin-top: 1em;
	margin-bottom: 1em;
    padding-top: 0.5em;
	padding-bottom: 0.5em;
    padding-right: 3.5em;
	padding-left: 3.5em;
    color: white;
    background-color: #2EC4B6;
    border: none;
    border-radius: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

#button-forgot-recover:hover{
    background-color: #242331;
}

#h3-forgot-titles-recover{
    color: #242331;
    border-bottom: solid #242331;
}

#a-forgot-goback{
    color: white;
	font-size: 0.8em;
    cursor: pointer;
}

#a-forgot-goback:hover{
    color: #242331;
}

/* || System Messages */
#section-main-system-messages{
    grid-area: system_messages;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
}

#p-system-messages-message{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.9em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: white;
    background-image: linear-gradient(to right, #2EC4B6, #242331 , #2EC4B6);
    border-width: medium;
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.6);
}

/* || Game */
#section-main-game{
    grid-area: game;
    padding-left: 0em;
}

#d-game-area{
    display: grid;
    grid-template-areas: 'gameheader' 'gamegameplay';
    grid-template-rows: 10% 90%;
    height: 85%;
    max-height: 27.5em;  /* TO BE REVIEWED */
}

#d-game-area-header{
    grid-area: gameheader;
    display: grid;
    grid-template-columns: 15% 10% 10% 30% 10% 10% 15%;
    align-items: center;
    justify-items: center;
    height: 3.8em;
    padding-right: 4em;
    padding-left: 4em;
    background-color: #CBF3F0;
    border-radius: 0.5em;
}

#p-game-area-header-messages{
    margin: 0em;
    padding: 0em;
    color: #242331;
    font-weight: 600;
    text-align: center;
    border-bottom: solid;
    border-width: medium;
    border-color: rgba(255, 255, 255, 0.459);
}

.p-game-area-header-score{
    margin: 0em;
    padding: 0em;
    font-family: 'Encode Sans', sans-serif;
    font-size: 1.7em;
    color: #242331;
    font-weight: 500;
}

.p-game-area-header-username{
    margin: 0em;
    padding: 0em;
    color: #242331;
    font-size: 1.1em;
}

.img-game-area-header-country-icon{
    width: 2em;
    height: 2em;
    padding-top: 0.2em;
}

#p-game-area-header-p1-name{
    justify-self: end;
    padding-right: 0.5em;
}

#p-game-area-header-p2-name{
    justify-self: start;
    padding-left: 0.5em;
}

#img-game-area-header-p1-country{
    justify-self: start;
}

#img-game-area-header-p2-country{
    justify-self: end;
}

.game-user-icon{
    width: 1.3em;
    height: 1.3em;
}

#d-game-area-background{
    grid-area: gamegameplay;
    display: none; /*changed to grid in js*/
    grid-template-areas:
    'storage1 cavity1 storage2'
    'storage1 cavity2 storage2';
    grid-template-columns:  15% 70% 15%;
    grid-template-rows: 50% 50%;
    margin-top: 1em;
    padding: 1em;
    background-image: url("../../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    border-radius: 0.5em;
}

#d-game-background-storage-p1{
    grid-area: storage1;
    filter: sepia(100%) brightness(120%);
}

#d-game-background-storage-p2{
    grid-area: storage2;
    filter: sepia(100%) brightness(60%) saturate(10%) contrast(100%);
}

#d-game-background-cavities-p1{
    grid-area: cavity1;
    display: flex;
    justify-content: space-evenly;
    filter: sepia(100%) brightness(120%);
}

#d-game-background-cavities-p2{
    grid-area: cavity2;
    display: flex;
    justify-content: space-evenly;
    filter: sepia(100%) brightness(60%) saturate(10%) contrast(100%);
}

.d-game-background-storage{
    margin: 0.2em;
    opacity: 0.5;
    background-color: transparent;
    background-image: url("../../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    box-shadow: inset 0 0 10px black;
    border-radius: 2em;
    cursor: pointer;
}

.d-game-background-cavity{
    width: 20%;
    margin: 0.2em;
    opacity: 0.5;
    background-color: transparent;
    background-image: url("../../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    box-shadow: inset 0 0 10px black;
    border-radius: 6em;
    cursor: pointer;
}

/* Partial repeat for top layer */
#d-game-area-gameplay{
    grid-area: gamegameplay;
    /*display: none; */ /* UNCOMMENT HERE */
    z-index: 1;
    display: grid;
    grid-template-areas:
    'storage1t cavity1t storage2t'
    'storage1t cavity2t storage2t';
    grid-template-columns:  15% 70% 15%;
    grid-template-rows: 50% 50%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

#d-gameplay-storage-p1{
    grid-area: storage1t;
}

#d-gameplay-storage-p2{
    grid-area: storage2t;
}

#d-gameplay-cavities-p1{
    grid-area: cavity1t;
    display: flex;
    justify-content: space-evenly;
}

#d-gameplay-cavities-p2{
    grid-area: cavity2t;
    display: flex;
    justify-content: space-evenly;
}

.d-gameplay-storage{
    position: relative;
    margin: 0.2em;
    background-color: transparent;
    background-size: 100% 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    cursor: pointer;
}

.d-gameplay-cavity{
    position: relative;
    width: 20%;
    margin: 0.2em;
    background-color: transparent;
    background-size: 100% 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 6em;
    cursor: pointer;
}

.d-gameplay-storage:hover{
    box-shadow: 0 0 1em #242331;

}
.d-gameplay-cavity:hover{
    box-shadow: 0 0 1em #242331;
}

.img-seed{
    position: absolute;
    max-width: 1.4em;
    max-height: 1.4em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.d-gameplay-cavity:hover .p-seed-quantitie{
    visibility: visible;
}

.d-gameplay-cavity .p-seed-quantitie{
    visibility: hidden;
}

.d-gameplay-storage:hover .p-seed-quantitie{
    visibility: visible;
}

.d-gameplay-storage .p-seed-quantitie{
    visibility: hidden;
}

.p-seed-quantitie{
    position: relative;
    top:20%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    background-color: #242331bb;
    border-radius: 4em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

@keyframes fadeOut{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes rotation{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#d-game-area-load-banner{
    display: none; /* flex UNCOMMENT*/
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    background-color: #242331;
    border-radius: 0.5em;
    animation: fadeOut ease 1s;
    animation-delay: 2s;
}

#img-game-area-load-logo{
    width: 10em;
    height: 10em;
    animation: rotation 2s linear;
    animation-iteration-count: 2;
}

#d-game-area-winner-banner{
    display: none;
    grid-area: gamegameplay;
    /*display: none; */ /* UNCOMMENT HERE */
    z-index: 2;
    grid-template-areas:
    'winSecundary'
    'winPrimary';
    grid-template-rows: 33% 67%;
    justify-items: center;
    align-items: start;
}

#p-winner-banner-secundary{
    grid-area: winSecundary;
    align-self: end;
    margin-bottom: 0em;
    padding: 0.2em;
    color: #242331;
    background-color:#ffa01cce;
    font-family: 'Encode Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    border-radius: 1em;
}

#p-winner-banner-primary{
    grid-area: winPrimary;
    align-self: start;
    margin-top: 0em;
    padding-top: 0em;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Encode Sans', sans-serif;
    font-size: 7em;
    font-weight: 600;
}

/* || Configurations */
#section-main-configurations{
	grid-area: configs;
}

#form-configurations-settings{
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 1em;
    border: solid;
    border-color: white;
}

.d-settings-info--quantities{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.label-settings-info--quantities{
    font-weight: 600;
}

.input-settings-info--quantities{
    width: 4em;
    border: solid;
    border-color: white;
    border-radius: 0.4em;
}

.p-settings-instructions{
    margin-bottom: 1em;
    padding-bottom: 0em;
    color: #242331;
    font-weight: bold;
}

#p-mode-local-instructions{
    margin-bottom: 0.75em;
    padding-bottom: 0em;
    color: #242331;
    font-weight: bold;
}

#ul-mode-local-intructions{
    margin-top: 0em;
    padding-top: 0em;
    padding-left: 1.2em;
    font-size: 0.9em;
    font-weight: 400;
}

#d-settings-mode--local{
    display: block;
}

#d-settings-mode--online{
    display: none;
}

#d-mode-online-search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8em;
    margin-top: 1em;
}

#img-search-bar-icon{
    width: 1.3em;
    height: 1.3em;
}

#img-search-bar-icon:hover{
    filter: invert(100%) brightness(200%);
}

#input-search-bar{
    max-width: 80%;
	padding: 0.5em;
    border: none;
    border-radius: 0.4em;
}

#img-search-bar-add-icon{
    width: 1.9em;
    height: 1.9em;
    margin-left: 1.4em;
}

#img-search-bar-add-icon:hover{
    filter: invert(100%) brightness(200%);
}

#d-mode-online-results{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

#p-mode-online-results--title{
    margin: 0;
    padding: 0em;
    color: #242331;
    font-weight: bold;
}

#p-mode-online-results--text{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#d-settings-mode--computer{
    display: none;
    padding-bottom: 0.05em;
}

#d-settings-buttons{
    display: flex;
    justify-content: space-between;
    gap: 0em;
}

.button-settings-info{
    width: 9.2em;
	padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: white;
    background-color: #242331;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
}

.button-settings-info:hover{
    color: #242331;
    background-color: white;
}

#d-settings-help{
    position: relative;
    padding: 0;
    border: 0;
}

#p-settings-help--text{
    position: absolute;
    bottom: -2em;
    right: 0;
    left: 0;
    padding: 0.3em;
    color: white;
    background: rgba(56, 56, 56, 0.95);
    visibility: hidden;
    font-size: smaller;
    font-weight: normal;
    opacity: 0;
    border-radius: 1em;
    transition: opacity .2s, visibility .2s;
}

#d-settings-help:hover #p-settings-help--text{
    opacity: 1;
    visibility: visible;
}

#img-settings-help--icon{
    float: right;
    width: 1em;
    height: 1em;
    padding-top: 1em;
}

#img-settings-help--icon:hover{
   filter: invert(100%);
}

/* || Commands */
#section-main-commands{
    grid-area: commands;
	display: flex;
	justify-content: space-between;
}

.button-command{
    max-width: 50%;
    margin-top: 0.5em;
	padding-right: 4.5em;
    padding-left: 4.5em;
    color: white;
    background-color: #242331;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
}

.button-command:hover{
    color: #242331;
    background-color: white;
}

/* || Score */
#section-main-score{
    grid-area: configs;
    display: none;
}

.h3-score-table-title{
    color: white;
}

.th-table-void{
    background-color: transparent;
    border: none;
}

/* || Chat */
#section-main-chat{
    grid-area: auth;
    display: none;
}

#d-chat-messages{
    display: grid;
    grid-template-rows: 75% 25%;
    height: 75%;
    background-image: linear-gradient(to bottom, #FF9F1C , #242331);
    border-radius: 1em;
}

#d-chat-messages-area{
    display: block;
    padding: 1em;
}

.d-chat-messages-text{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
    height: 18%;
    margin-bottom: 0.8em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
    text-align: left;
    border-radius: 2em;
}

#d-chat-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#input-chat-controls{
    width: 16em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    border-radius: 2em;
    border: none;
}

#img-chat-controls-send-icon{
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#img-chat-controls-send-icon:hover{
    filter: invert(45%) sepia(85%) saturate(700%) hue-rotate(345deg) brightness(107%) contrast(101%) drop-shadow(2px 2px 20px white);
}

/* || Rules */
#section-main-rules{
    grid-area: game;
    display: none;
}

#ul-rules-list{
    padding-right: 1em;
}

.li-rules-list-item{
    padding-bottom: 2em;
}

/* || Footer */
footer{
    grid-area: footer;
    align-self: end;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
    margin-top: 1.4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
	color: #242331;
	background-color: powderblue;
    font-weight: 200;
}

#footer-aboutus{
    justify-self: start;
    padding-left: 1em;
}

#footer-aboutus:hover{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(345deg) brightness(107%) contrast(101%);
}

#img-footer-report-bug-icon{
    width: 1.1em;
    height: 1.1em;
    padding-right: 0.5em;
}

#a-footer-report-bug{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#a-footer-report-bug:hover{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(345deg) brightness(107%) contrast(101%);
}
