/* big tablets or small pc's */
@media screen and (max-width: 1200px) {

    #img-header-navbar-score-icon{
        display: none;
    }

    /* || Main */
    #d-main{
        display: grid;
        grid-template-areas:
        'auth game'
        'commands game'
        'system_messages game'
        'footer footer footer';
        /* grid-template-rows: 66% 9% 9% 16%;*/
        grid-template-rows:  25.5em 3.5em 3.5em 6.5em;
        grid-template-columns: 35% 65%;
        min-height: 82.3vh;
    }

    #sel-header-menu{
        display: block;
    }

    #sel-header-menu{
        text-align: center;
        font-weight: 600;
        border-radius: 1em;
        outline: none;
    }

    #sel-header-menu:hover{
        color: white;
        background-color: #FF9F1C;
        filter: drop-shadow(2px 2px 20px white);
    }

    #section-main-configurations{
        grid-area: game;
        display: none;
    }

    #section-main-score{
        grid-area: game;
        display: none;
    }
}
