/* General: html tags */
body {
    /*background-image: linear-gradient(to bottom, #B88B4A, #b8a080);*/
    background-color: #2EC4B6;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 4em;
    padding-right: 4em;
    margin:0;
    background-color: #242331;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
	color: white;
	padding-left: 3em;
	padding-bottom: 3em;
    background-color: #FF9F1C;
}

section{
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    font-family: 'Encode Sans', sans-serif;
    border-radius: 0.5em;
    background-color: powderblue; 
    color:#242331;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left:0.5em;
    font-size: 1.4em;
}

h3{
	font-size: 1.3em;
}

footer{
	grid-area: footer;
	text-align: center;
	background-color: powderblue;
	color: #242331;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1.5em;
}

/*Specific: ids and classes */ 
/* header */
#s-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#img-banner-logo {
    display: inline-block;
    vertical-align: middle;
    width: 3.8em;
    height: 3.8em;
}

#img-banner-name {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: left;
    font-size: 3em;
    font-family: 'Encode Sans', sans-serif;   
}

#s-navbar{
    display: inline-flex;
    justify-content: space-around;
    gap: 4.5em;
}

.img-navbar-icon {
    width: 2.5em;
    height: 2.5em;
	margin:0;
}

.img-navbar-icon:hover{
    filter: invert(45%) sepia(85%) saturate(700%) hue-rotate(345deg) brightness(107%) contrast(101%);
}

/* main page area */
#d-main{
	display: grid;
	grid-template-areas: 
    'auth game game configs'
    'commands game game configs'
	'footer footer footer footer';
	grid-template-columns: 25% 25% 25% 25%;
	/*grid-template-rows: 0.5fr 0.5fr 0.2fr;*/
}

#section-main-authentication{
	grid-area: auth;
}

#form-authentication-login {
    border-radius: 1em;
    border:solid;
    border-color: white;
}

#h3-login-title{
    color: #242331;
}

.label-login-info{
	display: block;
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	padding-top: 0.3em;
}

.input-login-info{
	border-radius: 0.4em;
	border:none;
	padding: 0.5em;
}

#button-login-signin{
	border-radius: 0.6em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding-left: 4.3em;
	padding-right: 4.8em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    background-color: #2EC4B6;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

#button-login-signin:hover{
    background-color: #242331;
}

#a-login-forgotpass{
	float:right;
	padding-top: 1em;
	padding-right: 2em;
	font-size: 0.8em;
}

#section-main-game {
    padding-left: 0em;
	grid-area: game;
}
  
#d-game-area{
    background-color: #CBF3F0;
    border-radius: 0.5em;
    height: 83%;
}

#section-main-configurations{
	grid-area: configs;
}

#form-configurations-settings{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    border:solid;
    border-color: white;
}

.d-settings-info--quantities{
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.label-settings-info--quantities{
    font-weight:600;
}

.input-settings-info--quantities{
    border-radius: 0.4em;
    width: 4em;
    border:solid;
    border-color: white;
}

.p-settings-instructions{
    font-weight: bold;
    color: #242331;
}

.radio-settings-info--dificulty{
}

#d-settings-buttons{
    display: flex;
    justify-content: space-between;
    gap: 0em;
}

.button-settings-info{
    border-radius: 0.6em;
    width: 9.2em;
	padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color: #242331;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

.button-settings-info:hover{
    color: #242331;
    background-color: white;
}

#section-main-commands{
	display: flex;
	justify-content: space-between;
	grid-area: commands;
}

.button-commands{
    padding-left:4em;
    padding-right:4em;
    padding-top:0.6em;
    padding-bottom:0.6em;
    border-radius: 0.6em;
    background-color: #242331;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: none;
    display: block;
}

.button-commands:hover{
    color: #242331;
    background-color: white;
}

/* footer */
