/* General: html tags */
body {
    /*background-image: linear-gradient(to bottom, #B88B4A, #b8a080);*/
    background-color: #2EC4B6;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 4em;
    padding-right: 4em;
    margin:0;
    background-color: #242331;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
	color: white;
	padding-left: 3em;
	padding-bottom: 3em;
    background-color: #FF9F1C;
}

section{
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    font-family: 'Encode Sans', sans-serif;
    border-radius: 0.5em;
    background-color: powderblue; 
    color:#242331;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left:0.5em;
    font-size: 1.4em;
    overflow: hidden;
}

h3{
	font-size: 1.3em;
}

footer{
    padding-left: 1.5em;
    padding-right: 1.5em;
	grid-area: footer;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
	background-color: powderblue;
	color: #242331;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1.4em;
    align-self: end;
    font-weight: 200;
}

table{
    border-collapse: separate;
    border-spacing: 0.5em;
    text-align: center;
}

th{
    border-radius: 0.6em;
    background-color: #FF9F1C;
    padding: 0.8em;
    color: #242331;
}

td{
    background-color: rgba(255, 255, 255, 0.377);
    color: #242331;
    border-radius: 0.4em;
}

a{
    text-decoration: none;
}

/*Specific: ids and classes */ 
/* header */
#s-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#img-banner-logo {
    display: inline-block;
    vertical-align: middle;
    width: 3.8em;
    height: 3.8em;
}

#img-banner-name {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: left;
    font-size: 3em;
    font-family: 'Encode Sans', sans-serif;   
}

#s-navbar{
    display: inline-flex;
    justify-content: space-around;
    gap: 4.5em;
}

.img-navbar-icon {
    width: 2.5em;
    height: 2.5em;
	margin:0;
    cursor: pointer;
}

.img-navbar-icon:hover{
    filter: invert(45%) sepia(85%) saturate(700%) hue-rotate(345deg) brightness(107%) contrast(101%) drop-shadow(2px 2px 20px white);
}

/* main page area */
#d-main{
	display: grid;
	grid-template-areas: 
    'auth game game configs'
    'commands game game configs'
    'system_messages game game configs'
	'footer footer footer footer';
	grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 66% 9% 9% 17%;
    min-height: 81.5vh;
}

#section-main-authentication{
	grid-area: auth;
}

#form-authentication-login {
    border-radius: 1em;
    border:solid;
    border-color: white;
}

.d-login-titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4em;
    color: #242331;
    cursor: pointer;
}

#h3-login-titles-signin--in{
    border-bottom: solid #242331;
}

#h3-login-titles-signup--in:hover{
    filter: invert(99%) sepia(0%) saturate(4997%) hue-rotate(153deg) brightness(117%) contrast(100%);
}

#h3-login-titles-signup--up{
    border-bottom: solid #242331;
}

#h3-login-titles-signin--up:hover{
    filter: invert(99%) sepia(0%) saturate(4997%) hue-rotate(153deg) brightness(117%) contrast(100%);
    }

.label-login-info{
	display: block;
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	padding-top: 0.3em;
}

.input-login-info{
	border-radius: 0.4em;
	border:none;
	padding: 0.5em;
    max-width:80%;
}

#button-login-signin{
	border-radius: 0.6em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding-left: 4.5em;
	padding-right: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    background-color: #2EC4B6;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

#button-login-signin:hover{
    background-color: #242331;
}

#button-signup-register:hover{
    background-color: #242331;
}

#a-login-forgotpass{
	float:right;
	padding-top: 1em;
	padding-right: 2em;
	font-size: 0.8em;
}

#form-authentication-signup{
    display: none;
    border-radius: 1em;
    border:solid;
    border-color: white;
    padding-right: 4em;
    padding-bottom: 1em;
}

.d-signup-info{
    font-weight: 300;
    display: grid;
    grid-template-areas: 'label', 'input';
    margin-bottom: 0.4em;
}

.input-signup-info{
	border:none;
    width: 14em;
    border-radius: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
}

#button-signup-register{
    border-radius: 0.6em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding-left: 4.5em;
	padding-right: 5.1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    background-color: #2EC4B6;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

#section-main-system-messages{
    font-size: 0.9em;
    font-weight:600;
    text-align: center;
    grid-area: system_messages;
}

#d-system-messages-guest{
    margin-top: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-image: linear-gradient(to right, #2EC4B6, #242331 , #2EC4B6);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top:solid;
    border-bottom: solid;
    border-width: medium;
    border-color: rgba(255, 255, 255, 0.6);
    color:white;
}

.p-system-messages-guest{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 0;
}

#section-main-game {
    padding-left: 0em;
	grid-area: game;
}

#d-game-area{
    display: grid;
    grid-template-areas: 'gameheader' 'gamegameplay';
    grid-template-rows: 10% 90%;
    height: 85%;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

#d-load-game-area{
    display: none; /* flex UNCOMMENT*/
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: #242331;
    animation: fadeOut ease 1s;
    animation-delay: 2s;
}

#img-load-game-logo{
    width: 10em;
    height: 10em;
    animation: rotation 2s linear;
    animation-iteration-count: 2;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#d-game-area-header{
    grid-area: gameheader;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #CBF3F0;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1.8em;
    padding-bottom: 2em;
    border-radius: 0.5em;  
}

#p-game-area-header-messages{
    margin-top: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
   /* background-image: linear-gradient(to right, #CBF3F0, #242331 , #CBF3F0);*/
   /* border-top:solid;*/
    border-bottom: solid;
    border-width: medium;
    border-color: rgba(255, 255, 255, 0.459);
    color: #242331;
    /*
    padding-left: 5em;
    padding-right: 5em;
    */
    padding-left: 3em;
    padding-right: 3em;
    font-weight: 600;
}

.p-game-area-header-score{
    font-family: 'Encode Sans', sans-serif;
    font-size:1.7em;
    padding:0.5em;
    color: #242331;
    font-weight: 500;
}

/*
#p-game-area-header-score--1{
    color:black;
}

#p-game-area-header-score--2{
    color:white;
}
*/

/*NEWWWWWWW*/
#d-game-area-gameplay-top{
    grid-area: gamegameplay;
    z-index: 1;
    padding: 1em;
    margin-top: 1em;
}

/*END NEWWWWWW*/

#d-game-area-gameplay{
    grid-area: gamegameplay;
    padding: 1em;
    margin-top: 1em;
    display: none; /*changed to grid in js*/
    grid-template-areas: 
    'storage1 cavity1 storage2'
    'storage1 cavity2 storage2';
    grid-template-columns:  15% 70% 15%;
    grid-template-rows: 50% 50%;
    background-image: url("../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    border-radius: 0.5em;
}

#d-area-storage--p1{
    grid-area: storage1;
    filter: sepia(100%) brightness(120%);
}

#d-area-storage--p2{
    grid-area: storage2;
    filter: sepia(100%) brightness(60%) saturate(10%) contrast(100%);
}

#d-area-cavity--p1{
    display: flex;
    justify-content: space-evenly;
    grid-area: cavity1;
    filter: sepia(100%) brightness(120%);
    /*background-color: #242331;*/
}

#d-area-cavity--p2{
    display: flex;
    justify-content: space-evenly;
    grid-area: cavity2;
    filter: sepia(100%) brightness(60%) saturate(10%) contrast(100%);
}

.d-area-storage{
    background-image: url("../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    opacity: 0.5;
    box-shadow: inset 0 0 10px black;
    border-radius: 2em;
    margin: 0.2em;
    cursor: pointer; 
    background-color: transparent;
}

.d-area-cavity{ 
    background-image: url("../res/wood/wood_backgroud.jpg") ;
    background-size: 100% 100%;
    opacity: 0.5;   
    box-shadow: inset 0 0 10px black;
    margin: 0.2em;  
    border-radius: 6em;
    width: 20%;
    max-width: 100%;
    background-color: transparent;  
    cursor: pointer;  
}

.d-area-storage:hover{
    box-shadow: 0 0 1em #242331;
    
}
.d-area-cavity:hover{
    box-shadow: 0 0 1em #242331;
}

.img-seed{
    width: 1.8em;
    height: 1.8em;
}


#section-main-configurations{
	grid-area: configs;
}

#form-configurations-settings{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    border:solid;
    border-color: white;
}

.d-settings-info--quantities{
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.label-settings-info--quantities{
    font-weight:600;
}

.input-settings-info--quantities{
    border-radius: 0.4em;
    width: 4em;
    border:solid;
    border-color: white;
}

.p-settings-instructions{
    font-weight: bold;
    color: #242331;
    padding-bottom: 0em;
    margin-bottom: 1em;
}

#p-mode-local-instructions{
    font-weight: bold;
    color: #242331;
    padding-bottom: 0em;
    margin-bottom: 0.75em;
}

#ul-mode-local-intructions{
    padding-top: 0em;
    margin-top: 0em;
    padding-left: 1.2em;
    font-weight: 400;
    font-size: 0.9em;
}

#d-settings-mode--local{
    display: block;
}

#d-settings-mode--online{
    display: none;
}

#d-mode-online-search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8em;
    margin-top: 1em;
}

#img-search-bar-icon{
    width: 1.3em;
    height: 1.3em;
}

#img-search-bar-icon:hover{
    filter: invert(100%) brightness(200%);
}

#input-search-bar{
    border-radius: 0.4em;
	border:none;
	padding: 0.5em;
    max-width:80%;
}

#img-search-bar-add-icon{
    width: 1.9em;
    height: 1.9em;
    padding-left: 1.4em;
}

#img-search-bar-add-icon:hover{
    filter: invert(100%) brightness(200%);
}

#d-mode-online-results{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

#p-mode-online-results--title{
    font-weight: bold;
    color: #242331;
    padding:0em;
    margin: 0;
}

#p-mode-online-results--text{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#d-settings-mode--computer{
    display: none;
    padding-bottom: 0.05em;
}

#d-settings-buttons{
    display: flex;
    justify-content: space-between;
    gap: 0em;
}

.button-settings-info{
    border-radius: 0.6em;
    width: 9.2em;
	padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color: #242331;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer; 
}

.button-settings-info:hover{
    color: #242331;
    background-color: white;
}

#d-settings-help{
    position: relative;
    padding-top: 1em;
  padding: 0;
  border: 0;
}

#p-settings-help--text{
    position: absolute;
    bottom: -2em;
    right: 0;
    left:0;
    border-radius: 1em;
    background: rgba(56, 56, 56, 0.95);
    color: white;
   visibility: hidden;
   padding: 0.3em;
   font-size:smaller;
   font-weight: normal;
   opacity: 0;
   transition: opacity .2s, visibility .2s;
}

#d-settings-help:hover #p-settings-help--text{
    visibility: visible;
  opacity: 1;
}

#img-settings-help--icon{
    float: right;
    padding-top: 1em;
    height: 1em;
    width: 1em;
}
   
#img-settings-help--icon:hover{
   filter: invert(100%);
}

#section-main-commands{
	display: flex;
	justify-content: space-between;
	grid-area: commands;
}

.button-commands{
    text-align: center;
    border-radius: 0.6em;
	padding-right: 4.5em;
    padding-left: 4.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242331;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    max-width: 50%;
    margin-top: 0.5em;
    cursor: pointer; 
}

.button-commands:hover{
    color: #242331;
    background-color: white;
}

#section-main-chat{
    display: none;
    grid-area: auth;
}

#d-chat-messages{
    height: 75%;
    background-image: linear-gradient(to bottom, #FF9F1C , #242331);
    border-radius: 1em;
    display: grid;
    grid-template-rows: 75% 25%;
}

#d-chat-messages-area{
    padding: 1em;
    display: block;
}

.d-chat-messages--text{
    margin-bottom: 0.8em;
    padding-left: 1em;
    font-size: 0.9em;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    height: 18%;
    width: 65%;
    text-align: left;
}

#d-chat-messages-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

#input-chat-messages-controls{
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 2em;
    width: 16em;
    border:none;
}

#img-chat--messages-controls--send-icon{
    width: 2em;
    height: 2em;
    cursor: pointer; 
}

#img-chat--messages-controls--send-icon:hover{
    filter: invert(45%) sepia(85%) saturate(700%) hue-rotate(345deg) brightness(107%) contrast(101%) drop-shadow(2px 2px 20px white);
}

#section-main-rules{
    display: none;
    grid-area: game;
}

#ul-rules-list{
    padding-right: 1em;
}

.li-rules-list-item{
    padding-bottom: 2em;
}

#section-main-score{
    display: none;
    grid-area: configs;
}

.h3-score-table{
    color: white;
}

.th-score-void{
    background-color: transparent;
    border:none;
}

/* footer */

#footer-about-us{
    padding-left: 1em;
    justify-self: start;
}

#footer-bug-icon{
    width: 1.1em;
    height: 1.1em;
    padding-right: 0.5em;
}

#a-footer-report-bug{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
